:root {
  --red-gradient: radial-gradient(circle, #ff8686, #ff0000);
  --green-gradient: radial-gradient(circle, #20fe51, #00821c);
  --color-white: #ffffff;
  --color-orange: #ffa900;
  --color-light-red-alt: #ff8b8b;

  --font-size-small: 8px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 64px;
}

.burger-section__header {
  position: absolute;
  font-size: var(--font-size-xxlarge);
  color: var(--color-white);
  top: 30%;
  text-align: center;
  letter-spacing: 8px;
  transition: all 1.3s ease, color 0s;
}

.burger-section__instruction {
  position: absolute;
  z-index: 1;
  font-size: var(--font-size-medium);
  color: var(--color-white);
  bottom: 5%;
  letter-spacing: 8px;
  font-weight: bold;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
  scroll-behavior: smooth;
}

.burger-section {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  background-size: contain, contain, cover;
  background-position: 20%, 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__section--red {
  background-image: url("YUMMY.png"), url("BURGER.png"), var(--red-gradient);
}

.burger__section--green {
  background-image: url("YUMMY.png"), url("BURGER.png"), var(--green-gradient);
}

.burger {
  position: relative;
}

.burger__closed {
  cursor: pointer;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.burger__closed--instruction {
  font-size: var(--font-size-medium);
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  margin-top: 56px;
}

.burger__opened {
  cursor: pointer;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* burger ingreedients */
.burger__top--bun {
  transform: translateY(100px);
}

.burger__tomato {
  transform: translateY(75px);
}

.burger__onions {
  transform: translateY(50px);
}

.burger__bacon {
  transform: translateY(25px);
}

.burger__cheese {
  transform: translateY(0px);
}

.burger__meat {
  transform: translateY(-25px);
}

.burger__letuce {
  transform: translateY(-50px);
}

.burger__bottom--bun {
  transform: translateY(-75px);
}

/* burger ingreedients */

.burger__igredient {
  /* transform: translateY(20px); */
  position: relative;

  transition: all 0.2s ease-in-out;
}
.burger__description {
  color: var(--color-white);
  position: absolute;
  width: 50%;
  right: 100%;
  top: 50%;
  margin-right: 16px;
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease, color 0s;
}

.burger__description--right {
  left: 100%;
  margin-left: 16px;
}

.burger__description h3 {
  white-space: nowrap;
}

.burger__description p {
  white-space: nowrap;
}
.burger__description hr {
  border: 1px solid var(--color-white);
}

.chips {
  position: absolute;
}

.chipses {
  --chips-gap: -0px;
}

.chips:nth-child(1) {
  left: calc(-100% + var(--chips-gap));
  top: 80%;
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(2) {
  left: calc(-100% + var(--chips-gap));
  top: 30%;
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(3) {
  top: calc(-20% + var(--chips-gap));
  left: calc(var(--chips-gap) - 50%);

  animation: floating-diagonal 5s ease-in-out infinite;
}
.chips:nth-child(4) {
  top: calc(-20% + var(--chips-gap));
  left: calc(var(--chips-gap) - 0%);
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(5) {
  top: calc(-20% + var(--chips-gap));
  right: calc(var(--chips-gap) - 30%);
  animation: floating-diagonal 5s ease-in-out infinite;
}
.chips:nth-child(6) {
  top: 20%;
  right: calc(var(--chips-gap) - 70%);
  animation: floating-right 5s ease-in-out infinite;
}
.chips:nth-child(7) {
  right: calc(var(--chips-gap) - 70%);
  top: 60%;
  animation: floating 5s ease-in-out infinite;
}
.chips:nth-child(8) {
  right: calc(var(--chips-gap) - 70%);
  animation: floating-right 5s ease-in-out infinite;
}

/* Utility cclasses */

.hide-out {
  opacity: 1;
  transform: scale(1);
}

.hide-in {
  opacity: 0;
  transform: scale(1);
}

.transform-normal {
  transform: translateY(0px);
}

.throw-up {
  transform: translateX(-2000px);
}

.no-transition {
  transition: none !important;
}
@media (max-width: 1000px) {
  .burger {
    transform: scale(0.7);
  }

  .burger-section__header {
    font-size: var(--font-size-xlarge);
  }
}

@media (max-width: 600px) {
  .burger {
    transform: scale(0.5);
  }

  .burger-section__header {
    font-size: var(--font-size-xlarge);
  }
}
