:root {
  --red-gradient: radial-gradient(circle, #ff8686, #ff0000);
  --green-gradient: radial-gradient(circle, #20fe51, #00821c);
  --color-white: #ffffff;
  --color-orange: #ffa900;
  --color-light-red-alt: #ff8b8b;

  --font-size-small: 8px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
  scroll-behavior: smooth;
}

.burger-section {
  height: 100vh;
  scroll-snap-align: start;
  background-size: contain, contain, cover;
  background-position: 20%, 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__section--red {
  background-image: url("YUMMY.png"), url("BURGER.png"), var(--red-gradient);
}

.burger__section--green {
  background-image: url("YUMMY.png"), url("BURGER.png"), var(--green-gradient);
}

.burger {
  position: relative;
}

.burger__closed {
  cursor: pointer;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.burger__closed--instruction {
  font-size: var(--font-size-medium);
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  margin-top: 56px;
}

.burger__opened {
  display: none;
}

.burger__igredient {
  transform: translateY(20px);
}

.chips {
  position: absolute;
}

.chipses {
  --chips-gap: -0px;
}

.chips:nth-child(1) {
  left: calc(-100% + var(--chips-gap));
  top: 80%;
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(2) {
  left: calc(-100% + var(--chips-gap));
  top: 30%;
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(3) {
  top: calc(-20% + var(--chips-gap));
  left: calc(var(--chips-gap) - 50%);

  animation: floating-diagonal 5s ease-in-out infinite;
}
.chips:nth-child(4) {
  top: calc(-40% + var(--chips-gap));
  left: calc(var(--chips-gap) - 0%);
  animation: floating-left 5s ease-in-out infinite;
}
.chips:nth-child(5) {
  top: calc(-20% + var(--chips-gap));
  right: calc(var(--chips-gap) - 30%);
  animation: floating-diagonal 5s ease-in-out infinite;
}
.chips:nth-child(6) {
  top: 20%;
  right: calc(var(--chips-gap) - 70%);
  animation: floating-right 5s ease-in-out infinite;
}
.chips:nth-child(7) {
  right: calc(var(--chips-gap) - 70%);
  top: 60%;
  animation: floating 5s ease-in-out infinite;
}
.chips:nth-child(8) {
  right: calc(var(--chips-gap) - 70%);
  animation: floating-right 5s ease-in-out infinite;
}

/* Utility cclasses */

.display-none {
  display: none;
}

.display-block {
  display: block;
}
