:root {
  --red-gradient: radial-gradient(circle, #ff8686, #ff0000);
  --green-gradient: radial-gradient(circle, #20fe51, #00821c);
  --color-white: #ffffff;
  --color-orange: #ffa900;
  --color-light-red-alt: #ff8b8b;

  --font-size-small: 8px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
}

.clasic-burger,
.green-burger {
  height: 100vh;
  scroll-snap-align: start;
}

.clasic-burger {
  background: var(--red-gradient);
}

.green-burger {
  background: var(--green-gradient);
}
